---
import * as fs from "node:fs";
export type Props = {
  id: number;
  description: string;
};
const { id, description } = Astro.props;
import Pagination from "./Pagination.astro";

const lastWorkFilename = fs
  .readdirSync("./src/pages/works")
  .sort((a, b) => b.localeCompare(a))[0];
const lastWorkId = parseInt(lastWorkFilename.replace(".astro", ""), 10);
---

<div class="picture">
  <div id="p5-root" class="root"></div>
  <div class="description">{description}</div>
  <Pagination currentPage={id} firstPage={1} lastPage={lastWorkId} />
</div>
<style>
  canvas {
    border: 20px solid white;
  }

  .picture {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }
</style>
